
body{
  font-family: verdana,Arial, sans-serif;
  background-color: #8b7765;
  width: 100%;
  margin: 0;
  text-align: center;
}

hr{
  height: 30px;
   border-style: solid;
   border-color: black;
   border-width: 1px 0 0 0;
   border-radius: 20px;
}

#menywrapper{
  margin: 20px auto;
  width: 80%;
  background-color: #f4f4f4;
  border-radius: 5%;
  border: 1px dashed;
}
#menywrapper h2{
  text-align: center;
}

.foodtypeheader h1{
  padding-top: 3%;
  color: #333;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  line-height: 1;
  text-shadow: #3d4D5D 2px 2px 0;
}

.foodtypeheader h2{
  padding-top: 3%;
  color: #333;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
  text-shadow: #3d4D5D 2px 2px 0;
}

.foodtypeheader>p{
  border: 1px dashed darkgrey;
  padding: 2%;
  width: 60%;
  margin: 2% auto;
}

.foodtypeheader img{
  width: 30%;
}

.foodpic{
  padding: 2%;
  border: 3px solid;
  border-radius: 5%;
}

.foodline h3{
  margin-bottom: 0;
}
.foodline p{
  max-width: 30ch;
  margin:auto;
}

.foodline div{
  display: inline-grid;
  margin: 5%;
  margin-top: 2%;
  border-radius: 5%;
  background:		#FFF8DC;
}
.foodline p:nth-child(n+2){
  margin-top: 2%;
}

.foodline p:nth-child(3){
  font-size: 0.6em;
  padding-bottom: 5%;
}

#mainpicture{
  width: 100%;
}
#allergenliste{
  max-width: 70ch;
  margin: auto;
}

#allergenliste li{
  font-size: 12px;
  display: inline;
}
#allergenliste h4{
  margin: 1%;
}

#tempnavbar{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
}
