html{scroll-behavior:smooth}


body{
  font-family: verdana,Arial, sans-serif;
  background-color: #f0f0f0;
  width: 100%;
  margin: 0;
  text-align: center;
}

#tempnavbar{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  z-index:3;
}
#hovedbilde{
  position:relative;
  width: 100%;
  height:auto;
}

#slideShow{
  margin:0;
  padding: 0;
}
#numbertext{
  background: lightgrey;
  opacity: 0.5;
  bottom:1%;
  border: none;
  text-align: center;
  cursor:default;
}

#numbertext:hover{
  opacity:1;
}

#topp h1{
    z-index: 2;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 0;
    color: white;
    font-size: 50px;
  }

  hr{
  height: 30px;
   border-style: solid;
   border-color: black;
   border-width: 1px 0 0 0;
   border-radius: 20px;
}

.Galleri img{
  width: 300px;
  padding: 25px;
  filter: grayscale(100%);
  transition: 1s;
  object-fit: scale-down;
}


.Galleri img:hover{
  filter: grayscale(0%);
  transform: scale(1.2);
  cursor: pointer;
  margin: 5px;
}

#slider{
  width: 640px;
  height: auto;
  margin: 50px auto;
  position: relative;
  border: 10px solid black;
  box-shadow: 0px 0px 5px 2px darkgrey;
  background-color: black;
}

#slider img{
  width: 100%;
  object-fit: scale-down;
  object-position: 50% 50%;
}
button{
  padding: 15px;
  border: none;
  background: lightgrey;
  border: solid darkgrey;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 45%;
  cursor: pointer;
  transition: 1s;
  opacity: 0.5;

}
button:hover{
  transform:scale(1.2);
  opacity: 1;
  background: #37f;
  border: solid black;
}

.next{
  right: 0;
}
.prew{
  left: 0;
}
