
body{
  background-image: url('../img/bgburger2.jpg');
  background-repeat: repeat;
  font-family: verdana, Times, serif;
}

p {
  font-size: 18px;
  color: rgb(50,70,50);
}

h1{
  text-shadow: 1px 1px green;
  border-top: 3px solid;
  border-bottom: 3px solid;
  font-style: italic;
  text-align: center;
  color: rgb(50,60,50);

}

h2,h3 {
  font-family: Helvetica, serif;
  color: rgb(50,60,50);
  text-decoration: underline;

}

#wrapper{
  background-color: #fefefe;
  min-height: 100vh;
  width: 960px;
  max-width: 100ch;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  border: 10px groove rgb(0,100,0);
  border-radius: 15px;
}

#byline {
  text-align: center;
}

.par{
  padding: 15px;
  margin: 5px;
  border: 10px solid transparent;

}


li {
  list-style-image: url('../img/burger-icon.svg');
  line-height: 1.5em;
  padding: 1.5em;
  color: rgb(50,70,50);
}

#navbar{
  text-align: center;
}

#navbar li{
  display: inline;
}

#navbar:first-child{
  padding: 0;
}

#logo{
  border-radius: 15%;
}

.logoinfo{
  max-width: 30ch;
  font-size: 12px;
  font-style: italic;
}
