
body{
  background-image: url('../img/bgburger2.jpg');
  background-repeat: repeat;
  font-family: verdana, Times, serif;
}

h1,h2,h3 {
  font-family: Georgia, serif;
  color: rgb(100,100,100)
}
#wrapper{
  text-align: justify;
  background-color: #fefefe;
  min-height: 100vh;
  width: 960px;
  max-width: 100ch;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  border: 10px groove gray;
  border-radius: 15px;
}

.byline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.par{
  padding: 20px;
  margin: 10px;
  border: 10px solid transparent;
  border-image: url(../img/borderimage.png) 30 round;
}

ul li {
  list-style-image: url('../img/burger-icon.svg');
  line-height: 1.5em;
  padding-left: 1.5em;
}

#navbar li{
  display: inline;
  list-style-type: none;

}
