
body{
  background-image: url('../img/bgburger2.jpg');
  background-repeat: repeat;
  font-family: verdana, Times, serif;
  text-align: center;
}

p {
  font-size: 18px;
  color: rgb(50,70,50);
}


h1,h2,h3 {
  text-shadow: 1px 1px green;
  font-variant: small-caps;
  font-style: italic;
  text-align: center;
  color: rgb(50,60,50);

}

h1{
  font-size: 40px;
}

img{
  border: 1px solid;
  margin-left: 50%;
  transform: translateX(-50%);
}

.par{
  padding: 15px;
  border: 10px solid transparent;
  text-align: left;
  width: 75ch;
  margin: auto;
}

#filepath{

}

#wrapper{
  background-color: #fefefe;
  min-height: 100vh;
  width: 960px;
  max-width: 100ch;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  border: 10px groove rgb(0,100,0);
  border-radius: 15px;
}


.navbar li{
  display: inline;
  padding: 0.5em;
  font-family: monospace, verdana, helvetica;
  font-size: 110%;
}

.navbar li a:link{
  color: rgb(50,60,50);
}

.navbar li a:visited{
  color: rgb(50,60,50);
}

.navbar li a:hover{
  color: rgb(0,255,0);
}

.navbar:first-child{
  padding: 0;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  font-size:18px;
  padding:24px;
}

tr {
  color:#666B85;
  font-size:14px;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  font-weight:300;
  font-size:16px;;
}

table{
  margin:auto;
}
