
body{
  background-color: grey;
}
#wrapper{
  background-color: rgb(200,200,200);
  min-height: 100vh;
  width: 960px;
  max-width: 100ch;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  border: 5px dashed;
  border-color: blue;
}

.par{
  margin: 10px;
  border: 1px dotted;
}
